AutomacaoN8N/automaçãoN8N.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -48
      ],
      "typeVersion": 1,
      "id": "6dbeca37-a7a3-46f0-8506-516f7191bb5b",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        160
      ],
      "id": "c35e7c6e-9581-487b-8943-45000dc89df1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ac93fff-f1b9-4613-bc9c-3c68db548e60",
              "name": "=equipamento",
              "value": "Compressor camara 01",
              "type": "string"
            },
            {
              "id": "985d52b5-4f7f-4e62-8e15-174f2fd4bd28",
              "name": "=temperatura",
              "value": 60,
              "type": "number"
            },
            {
              "id": "ab53ca38-9770-4f14-9e55-9d957cffd088",
              "name": "=limite",
              "value": 8,
              "type": "number"
            },
            {
              "id": "159f5283-532a-4036-bea9-bddc6d4112e8",
              "name": "local",
              "value": "Camara Fria A",
              "type": "string"
            },
            {
              "id": "de78e68d-42e7-486d-a745-0eec25ae35f1",
              "name": "data_hora",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "22d3ad24-7610-4158-b08e-40ec84ce939a",
              "name": "empresa",
              "value": "MRC Cliente Demo",
              "type": "string"
            },
            {
              "id": "48e23c3f-099c-4762-9618-8029b5463728",
              "name": "local",
              "value": "Belém-PA",
              "type": "string"
            },
            {
              "id": "d7a7de42-ec9e-4e06-86ed-3d29864dfd28",
              "name": "=empresa",
              "value": "MRC Cliente Demo",
              "type": "string"
            },
            {
              "id": "78d56afb-7a0e-4da2-95ac-64d8a4ca7c9f",
              "name": "=email_cliente",
              "value": "carlos.silvapires@hotmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        160
      ],
      "id": "54531bba-2d76-4197-9c86-0b68fb905b08",
      "name": "Entrada Maquina 01"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6634628f-94bd-4502-bea2-880a4a4103c8",
              "leftValue": "={{$json.temperatura}}",
              "rightValue": "={{$json.limite}}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        160
      ],
      "id": "122b1032-94f2-4f38-800f-4164b41cf086",
      "name": "Condição"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9737fdf4-15cd-4ce1-b371-d5f470c68a56",
              "name": "alerta",
              "value": "🚨 ALERTA DE RISCO",
              "type": "string"
            },
            {
              "id": "25406d70-9fd7-4015-ab38-7203e6107ea3",
              "name": "prioridade",
              "value": "Alta Prioridade",
              "type": "string"
            },
            {
              "id": "c81f7536-e383-41d2-a123-161e3c9d8600",
              "name": "mensagem",
              "value": "Temperatura acima do limite permitido",
              "type": "string"
            },
            {
              "id": "75670eaf-ad4d-47d2-af32-781128e1e59b",
              "name": "acao",
              "value": "Acionar equipe de manutencao",
              "type": "string"
            },
            {
              "id": "c57141e5-d3e6-4099-88c0-dc81ca970635",
              "name": "status",
              "value": "critico",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "aef99688-8b7b-4601-902f-0f77ca68df45",
      "name": "RISCO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f837a6a-3b4f-44f4-b70e-7c8084b92d8e",
              "name": "alerta",
              "value": "Alerta Regular",
              "type": "string"
            },
            {
              "id": "ba4339c3-8b60-463b-b50c-63668d6a8989",
              "name": "mensagem",
              "value": "Equipamento operando dentro dos parâmetros",
              "type": "string"
            },
            {
              "id": "0f0d5287-972c-4af1-b664-ab0d4f9dd1f8",
              "name": "acao",
              "value": "Nenhuma intervenção necessária",
              "type": "string"
            },
            {
              "id": "61b771c5-a3d6-473f-8562-9c174efc54a6",
              "name": "status",
              "value": "DENTRO DO PARÂMETROS",
              "type": "string"
            },
            {
              "id": "e0c9bc43-6137-47ac-9b60-8557f05cca79",
              "name": "prioridade",
              "value": "Normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        304
      ],
      "id": "2358b4af-b5ab-443f-9fe8-ad2576adb4c1",
      "name": "REGULAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ca0bfb3-8f2b-4d47-aec0-1f0a34b1d9d2",
              "name": "relatorio_html",
              "value": "={{ `\n<div style=\"font-family: Arial, sans-serif; border: 2px solid ${$json.status === 'critico' ? '#ff4d4d' : '#4dff79'}; padding: 20px; border-radius: 8px;\">\n  <h2 style=\"color: ${$json.status === 'critico' ? '#d93838' : '#27ae60'}; margin-top: 0;\">📊 RELATÓRIO COLDGUARD - NOTIFICAÇÃO</h2>\n  <hr>\n  <p><strong>🏭 Empresa:</strong> ${$node[\"Entrada Maquina 01\"].json.empresa}</p>\n  <p><strong>🔧 Equipamento:</strong> ${$node[\"Entrada Maquina 01\"].json.equipamento}</p>\n  <p><strong>📍 Local:</strong> ${$node[\"Entrada Maquina 01\"].json.local}</p>\n  <p><strong>🕒 Data/Hora:</strong> ${$node[\"Entrada Maquina 01\"].json.data_hora}</p>\n  <br>\n  <div style=\"background-color: ${$json.status === 'critico' ? '#ffe6e6' : '#e6ffe6'}; padding: 10px; border-left: 5px solid ${$json.status === 'critico' ? '#d93838' : '#27ae60'};\">\n    <p style=\"margin: 5px 0;\"><strong>🌡️ Temperatura Atual:</strong> <span style=\"color: ${$json.status === 'critico' ? 'red' : 'green'}; font-size: 16px; font-weight: bold;\">${$node[\"Entrada Maquina 01\"].json.temperatura} °C</span></p>\n    <p style=\"margin: 5px 0;\"><strong>🎯 Limite Permitido:</strong> ${$node[\"Entrada Maquina 01\"].json.limite} °C</p>\n    <p style=\"margin: 5px 0;\"><strong>🚦 Status:</strong> ${$json.status}</p>\n    <p style=\"margin: 5px 0;\"><strong>⚠️ Prioridade:</strong> ${$json.prioridade || 'Normal'}</p>\n  </div>\n  <br>\n  <p><strong>📝 Mensagem:</strong> ${$json.mensagem}</p>\n  <p><strong>🔧 Ação Recomendada:</strong> ${$json.acao}</p>\n</div>\n` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "Status",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        144
      ],
      "id": "3243beef-0309-4609-a310-95a0edf7b306",
      "name": "RELATÓRIO"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Entrada Maquina 01\"].json.email_cliente }}",
        "subject": "={{ $json.alerta + ': ' + $node[\"Entrada Maquina 01\"].json.equipamento }}",
        "message": "={{$node[\"RELATÓRIO\"].json.relatorio_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        144
      ],
      "id": "8886f63b-b7ff-4a1d-b175-fb54fa5de118",
      "name": "ENVIA EMAIL",
      "webhookId": "0e53ea3b-49af-4818-ae99-269f4a527b69",
      "credentials": {
        "gmailOAuth2": {
          "id": "Orl10IaMtASTjqBH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Entrada Maquina 01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Maquina 01": {
      "main": [
        [
          {
            "node": "Condição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condição": {
      "main": [
        [
          {
            "node": "RISCO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REGULAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RISCO": {
      "main": [
        [
          {
            "node": "RELATÓRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGULAR": {
      "main": [
        [
          {
            "node": "RELATÓRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RELATÓRIO": {
      "main": [
        [
          {
            "node": "ENVIA EMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6a623663-8113-406c-9b4b-5cb2e0c69903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf8f24403ee485eb2dbc62957f9d798e0eb37b72ceba5a792c2fafb3c8595c17"
  },
  "nodeGroups": [],
  "id": "3Jv4Ri6St2FtO6Yt",
  "tags": []
}